.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://png.pngtree.com/thumb_back/fh260/background/20220112/pngtree-glass-morphim-effect-registration-banner-with-gradient-blue-image_934693.jpg");
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label {
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    background-color: white;
    border:none;
}
.loginButton{
    margin-top: 20px;
    cursor:pointer;
    background-color: rgb(105, 105, 218);
    border: none;
    color:white;
    border-radius: 10px;
    padding: 10px;
}
.loginRegisterButton{
    position: absolute;
    top:60px;
    right: 20px;
    background-color: rgb(94, 108, 151);
    cursor: pointer;
    border:none;
    padding: 10px;
    color:white;
    border-radius: 10px;
}